{% extends 'layout.html' %}
{% load static %}

{% block main %}
    
    



    <div class="about-test" style="padding: 40px;">

      <h1 >Haqqımızda  </h1>
      <p>Ana səhifə > Haqqımızda</p>
  </div>
    <section id="aboutUs"  style="margin-top: 40px;">
        <div class="d-flex">


            <div class="leftbar">
                <img src="{% static 'photos/aboutimage.png' %}" alt="">
            </div>
            <div class="rightbar">
                <p>Biz Kimik?</p>
                <h1><span style="color:#203E7C">META</span> - təhsildə müasirliyin, etibarın və təcrübənin adresi</h1>
                <h2>“Meta Education and Consulting” MMC olaraq, 50-yə yaxın yerli sahibkar və şirkətə yüksək keyfiyyətli korporativ xidmətlər təqdim edirik. Bizim vizyonumuz, menecment, mühasibatlıq, marketinq, dizayn, HR, hüquq və digər bütün sahələrdə xidmət göstərərək, dünya səviyyəsində tanınan beynəlxalq bir brendə çevrilməkdir.</h2>
                <br>
                <h2>META EDUCATION Təhsil Mərkəzini yaratmaqda əsas məqsədimiz, yüksək ixtisaslı mütəxəssislərin dəstəyi ilə peşəkar hazırlıq keçmiş kadrlar yetişdirərək şirkətlərin ehtiyaclarını qarşılamaqdır. Peşəkar kadr olmaq istəyən bütün gəncləri, təlim proqramlarımızda iştiraka və yaratdığımız karyera fürsətlərindən  faydalanmağa dəvət edirik.</h2>
            </div>
        </div>
      {% endblock main %}
