
    {% extends 'layout.html' %}
    {% load static %}

    
{% block main %}
      
      
    
    <section id="meta" >
      <div class="container">
          <div class="leftbar">
              <p><span style="color: #203E7C;">META</span>- təhsildə müasirliyin, etibarın və təcrübənin adresi</p>
              <h1>Təlim proqramlarımızda iştirak edin, karyera fürsətlərindən yararlanın və iş dünyasında fərq yaradın.</h1>
              <a href="">Ətraflı</a>
          </div>
          <div class="rightbar"><img src="{% static 'photos/3.png' %}" alt=""></div>
      </div>

      <div class="beforebox">
              <div class="beforebox container d-flex">
    <div class="leftbox">
      <p>10</p>
      <h1>İllik təcrübə</h1>
    </div>
    <div class="rightbox">
      <p>50+</p>
      <h1>Əməkdaşlıq</h1>
    </div>
  </div>
      </div>
    </section>

    <section id="services"  style="background-color: white;">
      <div class="container">
          <p>Xidmətlər</p>
          <h2>Göstərdiyimiz xidmətlər</h2>
          <div class="education row">
              <div class="col-md-6 mb-4">
                <div class="boxLeft">
                  <img src="{% static 'photos/Frame 22 (2).png' %}" alt="Təhsil xidmətləri" class="img-fluid" />
                  <a href="" style="text-decoration: none; color: black;"><h4>Təhsil xidmətləri</h4></a>
                  <h5>
                    Xidmətlərimizə praktiki mühasibatlıq, vergi və kadr uçotu, mühasibatlıq təcrübə proqramı və s. daxildir.
                  </h5>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="boxLeft">
                  <img src="{% static 'photos/Frame 23.png' %}" alt="Təhsil xidmətləri" class="img-fluid" />
                 <a href="" style="text-decoration: none; color: black;"><h4>Koorporativ xidmətləri</h4></a>

                  <h5>
                    Xidmətlərimizə praktiki mühasibatlıq, vergi və kadr uçotu, mühasibatlıq təcrübə proqramı və s. daxildir.
                  </h5>
                </div>
              </div>
            </div>
            
          </div>
  </section>

  <section id="about" class="d-flex">
      
    <div class="leftbar">
      <img src="{% static 'photos/aboutimage.png' %}" alt="" class="img-fluid">
    </div>
    <div class="rightbar">
      <p>Haqqımızda</p>
      <h6 style="font-size: 28px;">Biz kimik?</h6>
      <h1>“Meta Education and Consulting” MMC olaraq, 50-yə yaxın yerli sahibkar və şirkətə yüksək keyfiyyətli korporativ xidmətlər təqdim edirik. Bizim vizyonumuz, menecment, mühasibatlıq, marketinq, dizayn, HR, hüquq və digər bütün sahələrdə xidmət göstərərək, dünya səviyyəsində tanınan beynəlxalq bir brendə çevrilməkdir.</h1>
      <a href="#" style="text-decoration: none; color: white;">Daha çox</a>
    </div>
    
  </section>

  <div class="section"></div>


  <section id="education" >
    <div class="container">
      
      <p >Xidmətlər</p>
      <h1 > Təhsil xidmətləri</h1>
  
      <div class="slider-ferid">
        <div class="box">
          <div class="imgbox">
            <img  src="photos/Notebook.png" alt />
          </div>
          <h2>Praktiki mühasibatlıq, vergi və kadr uçotu</h2>
        </div>
        <div class="box">
          <div class="imgbox">
            <img src="photos/Notebook.png" alt />
          </div>
          <h2>Praktiki mühasibatlıq, vergi və kadr uçotu</h2>
        </div>
        <div class="box">
          <div class="imgbox">
            <img src="photos/Notebook.png" alt />
          </div>
          <h2>Praktiki mühasibatlıq, vergi və kadr uçotu</h2>
        </div>
        <div class="box">
          <div class="imgbox">
            <img src="photos/Notebook.png" alt />
          </div>
          <h2>Praktiki mühasibatlıq, vergi və kadr uçotu</h2>
        </div>
        <div class="box">
          <div class="imgbox">
            <img src="photos/Notebook.png" alt />
          </div>
          <h2>Praktiki mühasibatlıq, vergi və kadr uçotu</h2>
        </div>
        <div class="box">
          <div class="imgbox">
            <img src="photos/Notebook.png" alt />
          </div>
          <h2>Praktiki mühasibatlıq, vergi və kadr uçotu</h2>
        </div>
        <div class="box">
          <div class="imgbox">
            <img src="photos/Notebook.png" alt />
          </div>
          <h2>Praktiki mühasibatlıq, vergi və kadr uçotu</h2>
        </div>
      </div>
    </div>



    <div class="coorporation ">
      <p>Xidmətlər</p>
      <h1> Korporativ xidmətlər</h1>
      <div class="boxess">

        <div class="box" style="border: none;">
          <img src="photos/Mühasibat.png" alt="" style="background-color:#408EE8;">
          <h6>Muhasibat uçotu</h6>
        </div>
        <div class="box" style="border: none;">
          <img src="photos/Vergi.png" alt="" style="background-color:#289208;">
          <h6>Vergi uçotu</h6>
        </div>
        <div class="box" style="border: none;">
          <img src="photos/Kadr.png" alt="" style="background-color:#E88640;">
          <h6>Kadr uçotu</h6>
        </div>
      </div>

    </div>
  </section>

  <section id="ourteam">
    <p>Komandamız</p>
    <h2>Komanda üzvləri</h2>
    <a href=""
      style="width: 128px; height: 32px; text-align: center; margin-top: 10px; background-color: #203E7C; color:white; border-radius: 32px; text-decoration: none; margin-top: 20px; display: inline-block;">İdarə
      heyəti</a>
    <a href=""
      style="width: 128px; height: 32px; text-align: center; margin-top: 10px; background-color: #D0D1D4; color:black; border-radius: 32px; text-decoration: none; margin-top: 20px; display: inline-block;">Müəllim
      heyəti</a>
    <a href="" class="ra"
      style="margin-left: 87%; display: inline-block;position: relative; top: 5px; text-decoration: underline; font-size: 14px; font-weight: 400; color: #1C57D6;">Hamısını
      gör</a>
    <div class="boxes">
      
      {% for team in teams  %}
      <div class="box">
        <img src="{{team.image.url}}" alt="">
        <a href="{% url 'home:team_id' pk=team.pk %}" style="text-decoration: none;">{{team.name}}</a>
        <h4>{{team.description}}</h4>
      </div>
      {% endfor %}
        


      
      <a href="" class="aa"
        style="margin-left: 0%; display: inline-block;position: relative; top: 5px; text-decoration: underline; font-size: 14px; font-weight: 400; color: #1C57D6;">Hamısını
        gör</a>
    </div>
  </section>

  <section id="blog">

    <div class="container">

      <p>Bloq</p>
      <h2>Bloqlarla tanış olun</h2>
      <div class="blog-a d-flex">
        <a href=""
          style="width: 230px; height: 32px; text-align: center; margin-top: 10px; background-color: #203E7C; color:white; border-radius: 32px; text-decoration: none; margin-top: 20px; display: inline-block;">Maliyyə
          və mühasibatlıq</a>
        <a href=""
          style="width: 128px; height: 32px; text-align: center; margin-top: 10px; background-color: #D0D1D4; color:black; border-radius: 32px; text-decoration: none; margin-top: 20px; display: inline-block;">Dizayn</a>
        <a href=""
          style="width: 128px; height: 32px; text-align: center; margin-top: 10px; background-color: #D0D1D4; color:black; border-radius: 32px; text-decoration: none; margin-top: 20px; display: inline-block;">Marketinq</a>
        <a href=""
          style="width: 128px; height: 32px; text-align: center; margin-top: 10px; background-color: #D0D1D4; color:black; border-radius: 32px; text-decoration: none; margin-top: 20px; display: inline-block;">Proqramlaşdırma</a>
        <a href=""
          style="margin-left: 30%; display: inline-block;position: relative; top: 20px; text-decoration: underline; font-size: 14px; font-weight: 400; color: #1C57D6;">Hamısını
          gör</a>
      </div>
      <div class="boxes d-flex">
        <div class="box">
          <img src="photos/image (2).png" alt="">
          <h4>Fusce tincidunt commodo sapien, quis prttitor.</h4>
  
        </div>
        <div class="box">
          <img src="photos/image (2).png" alt="">
          <h4>Fusce tincidunt commodo sapien, quis prttitor.</h4>
  
        </div>
        <div class="box">
          <img src="photos/image (2).png" alt="">
          <h4>Fusce tincidunt commodo sapien, quis prttitor.</h4>
  
        </div>
        <div class="box">
          <img src="photos/image (2).png" alt="">
          <h4>Fusce tincidunt commodo sapien, quis prttitor.</h4>
        </div>
        <a href="" class="bloga"
          style="margin-left: 0%; display: inline-block;position: relative; top: 5px; text-decoration: underline; font-size: 14px; font-weight: 400; color: #1C57D6;">Hamısını
          gör</a>
      </div>
    </div>


  </section>  
{% endblock main %}

  


