{% extends 'layout.html' %}
{% load static %}

{% block main %}
    
       
   
   <div class="about-test" style="padding: 40px;">

        <h1>İdarə heyəti  </h1>
        <p> Komandamız > İdarə heyəti</p>
    </div>
    <section id="teamId" class="container d-flex">
        <div class="imgbox">
            <img src="{{team.image.url}}" alt="">
        </div>
        <div class="textbox">
            <p>{{team.name}}</p>
            <h5>{{team.description}}</h5>
            <a href="{{team.linkedin}}"><i class="fa-brands fa-linkedin"></i></a>
            <a href="{{team.facebook}}"><i class="fa-brands fa-facebook"></i></a>
            <a href="{{team.instagram}}"><i class="fa-brands fa-instagram"></i></a>
            <h6>{{team.about}}</h6>
        </div>
    </section>
    <section id="team" class="container">
        <p style="font-size: 28px; margin-left: 20px;">Digər komanda üzvləri</p>
    
    <div class="boxes">
        
        {% for team in teams %}
        <div class="box">
            <img src="{{ team.image.url }}" alt="">
            <a href="{% url 'home:team_id' pk=team.pk %}">{{ team.name }}</a>
            <h3>{{ team.description }}</h3>
        </div>

        {% endfor %}
            
      
       
       
    </div>
</section>

{% endblock main %}

    
   