{% extends 'layout.html' %}
{% load static %}

{% block main %}
    
       
   
   
   
   <section id="ourValues" class="container d-flex ">
      <div class="leftbox">
          <div class="first d-flex">
              <div class="boxOne">
                  <p>Problemə qarşı pozitiv olmaq həmin problemi həll etməyin ilk addımıdır</p>
              </div>
              <div class="boxTwo">
                  <p>Komanda olmaq</p>
                  <h1>Biz birliyin böyük gücünə inanırıq</h1>
              </div>
          </div>
          <div class="second">
              <p>Pozitivlik</p>
          </div>
          <div class="third">
              <div class="vision">
                  <p>Vizyon</p>
                  <h1>Bizim vizyonumuz öz sahəmizdə beynəlxalq brend olmaqdır</h1>
              </div>
          </div>
         
      
      
      </div>
      <div class="rightbox">
          <div class="first">
              <div class="box">

              </div>
          </div>
          <div class="second d-flex">
              <div class="left">
                  <p>Məsuliyyət</p>
              
              </div>
              <div class="right">
                  <h1>Tələbələrə və partnyorlara dəyər qatmağı öz öhdəliyimiz hesab edirik.</h1>
              </div>
          </div>
          <div class="third">
              <p>Çalışqanlıq</p>
          </div>
          <div class="fourth d-flex" >
              <div class="left">
                  <p>Dürüstlük</p>
                  <h2>İnsanlar bizə güvənir,
                      çünki onlara qarşı dürüst oluruq.</h2>
              </div>
              <div class="right">
                  <p style="margin-left: 12px; font-size: 16px;">Uğurun açarı yorulmadan çalışmaq deyil, yorulsan da çalışmaqdır</p>
                  <div class="boxone" style="background-color: #028C85; width:290px; height: 32px; margin-top: 40px; margin-left: 12px;"></div>
                  <div class="boxtwo" style="background-color: #0A2E77; width: 164px; height: 32px; margin-top: 20px; margin-left: 12px" ></div>
              </div>
          </div>
      </div>
  </section>

{% endblock main %}
 