{% extends 'layout.html' %}
{% load static %}

{% block main %}
  
  
    <section id="services">
      <div class="leftbar container">
         <ul style="list-style: none;">
          
          {% for service in all_services %}
            <li>
              <a href="{% url 'info:service_view' pk=service.id %}" style="background-color: #C6D7FA;">{{service.title }} {{ service.id }}</a>
            </li>
          {% endfor %}
            {{ get_last_service_id }}
         
         </ul>
      </div>
      <div class="rightbar">  
        <h5 class="">{{ detail.title }}</h5>
        <img src="{{ detail.image.url }}" alt="">
        <h4>{{ detail.description }}</h4>
        <h1>Praktiki Tədris proqramı:</h1>
        
        <ol>
          <li>{{ detail.plan }}</li>
        </ol>
        
        <h3>{{ detail.about }}</h3>
      </div>
  </section>

{% endblock main %}

  
 